.responsive-input {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
  }
  

  .coolinput {
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 400px) {
    .responsive-input {
      font-size: 12px;
      padding: 8px;
    }
  }
  